body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color:transparent;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}
.agen-1{
    color: white;
    font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 31px;
text-align: left;
}

.navbar-middle ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-middle ul li {
    display: inline;
    margin-right: 20px;
}

.navbar-middle ul li:last-child {
    margin-right: 0;
}

.navbar-middle ul li a {
    text-decoration: none;
    color: black;
}

.navbar-middle ul li a:hover {
    color: orangered;
}

.logo img {
    height: 50px; /* Adjust height as needed */
}

.navbar-right {
    margin-right: 10px; /* Adjust spacing from the right end */
}

.navbar-right img {
    height: 25px; /* Adjust height as needed */
    margin-left: 15px; /* Add spacing between social media icons */
    margin-right: 15px; /* Add spacing between social media icons */
    border-radius: 50%; /* Make the images round */
}

.ote{
    color: orangered;
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 35px;
letter-spacing: 0.15em;
text-align: left 
}
.ite {
    display: flex;
    align-items: flex-end; /* Align items vertically */
    padding: 0px;
}

.text-container {
    flex: 1; /* Grow to take remaining space */
    padding-right: 20px; /* Add spacing between text and image */
    margin: 70px;
}


.img{
    height: 20px;
    width: 20px;
    justify-content: end;
    padding: 10px;
}
.kole{
    background: white;
    bottom: 0px;
}
.agen-1{
    font-family: Montserrat;
font-size: 32px;
font-weight: 600;
line-height: 46px;
text-align: left;
color: black;
}
.frame-68{
    margin: 60px;
}
.pic2{
    display: flex;
    align-items: baseline;
}
.frame-69{
    height: 450px;
}
.mission-vision{
    ;

}
.mission-1{
    font-family: Montserrat;
font-size: 15px;
font-weight: 500;
line-height: 60px;
letter-spacing: 0.15em;
text-align: left;
color: #FF3C00;

}
.Mission-Statement{
    font-family: Montserrat;
font-size: 35px;
font-weight: 700;
line-height: 55px;
text-align: left;
color: white;
}
.mission-vision-1{
    padding: 60px;
}
.brand-plug{
    font-family: Montserrat;
font-size: 18px;
font-weight: 500;
line-height: 32px;
text-align: left;
color: white;
}

.sss {
    display: flex;
    align-items: flex-start; /* Align items to the start of the flex container */
    background: #161616

}

.mission-vision {
    flex: 1; /* Grow to take remaining space */
    padding-right: 20px; /* Add spacing between text and image */
}

.image {
    width: 497px;
height: 464px;
top: 234px;
left: 1419px;
gap: 0px;
opacity: 0px;
angle: -180 deg;
padding-right: 100px;
margin-top: 270px;
}
.featured-clients{
    font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0.1em;
text-align: center;
color: orangered;
}
.jjj{
    font-family: Montserrat;
font-size: 35px;
font-weight: 700;
line-height: 50px;
text-align: center;
}
.www{
    font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 32px;
text-align: center;
}
.lll{
    font-family: Montserrat;
font-size: 18px;
font-weight: 500;
line-height: 32px;
text-align: center;
color: #FF3C00;
}
.ccc{
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
text-align: left;
color: white;
background-color: orangered;
border-radius: 30px;
height: 50px;
width: 190px;
box-shadow: 0px;
padding: 10px;
display: flex;
align-items: center;
border: 0px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
    background-image: url(/images/Frame\ 39.png);
    padding: 60px;
}
.bp-footer{
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 28px;
text-align: left;
color: white;
padding-left: 70px;
}
.footer-services{
    font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 28px;
text-align: left;
color: white;
}
.vvv{
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 28px;
text-align: left;
color: white;
}
.others{
    font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 28px;
text-align: left;
color: white;
}
.pro{
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 28px;
text-align: left;
color: white;
}
.ghg{
    background-color: #161616;
}
.copyright{
    font-family: Montserrat;
font-size: 13px;
font-weight: 500;
line-height: 28px;
text-align: left;
color: white;
}
